html {
    font-size: 16px !important;}
  
    body{
      font-family: 'roboto mono'; 
    }

    h1, h2, h3, h4, h5, h6 { 
      font-family: 'Din Condensed';
    }

/*https://stackoverflow.com/questions/5196583/target-elements-with-multiple-classes-within-one-rule*/
     
 
       

  div.list-grid img, div.list-grid a, div.list-grid * {
     width: 100% !important;}     figure.grid-image {
   width: 100% !important;}
     
     figure.grid-image img{
       min-width: 400px !important; max-width: 600px !important;}
       
     
      
     .ProductItem-summary{
   display: none !important; }.product-price {display: none !important;}



/*.ProductItem-related-label{
 position: relative !important; top: 20% !important;}
*/
@media screen and (min-width: 300px) and (max-width:600px) {
  
  }


@media screen and (min-width: 600px) and (max-width:900px) {
  
  
  }

  

  @media screen and (min-width: 901px) and (max-width:1200px) {
  
    
    }



    @media screen and (min-width: 1201px) and (max-width:1500px) {
    
      
      }
  
  