html {
  font-size: 16px !important;
}
/*For portrait mode*/

@media screen and (min-width: 301px) and (max-width: 600px) and (orientation:portrait), (-webkit-min-device-width: 1.5), (-webkit-browser-name:chrome), (-webkit-browser-name:firefox), (-webkit-browser-name: edge){
  #article img{
  min-width: 80vw !important; max-width: 105% !important;}
    #article{max-width: 700px !important; margin-left: 5% !important; margin-right: 5% !important; position: relative !important; top: -45% !important;font-size: 16px !important; line-height: 2; position: relative; top: -140px !important; margin-bottom: 5%;}
  
  
    h2, p {
text-align: center;
    }
    
    #article img {
      max-width: 400px 400px !important; max-height: 400px !important;
    }
    
    h2.ProductItem-related-label, div.list-grid {position: relative; top: -180px;}
    div.list-grid {
      min-width: 98% !important;
    }
    div.list-grid img {
      min-width: 98% !important; max-width: 100% !important; max-height: 300px !important;
    }


}

/*601px and 660px*/
@media screen and (min-width: 37.56rem) and (max-width: 41.875rem) and (orientation:portrait), (-webkit-min-device-width: 1.5), (-webkit-browser-name:chrome), (-webkit-browser-name:firefox), (-webkit-browser-name: edge){
  #article img{
      min-width: 90% !important; max-width: 600px !important;    max-height: 500px !important; position: relative; left: -4.5rem !important;}
        #article{min-width: 90% !important; max-width:100% !important; margin-left: 10% !important; margin-right: 5% !important; position: relative !important; top: -27% !important;font-size: 16px !important; line-height: 2; position: relative; top: -180px !important; margin-bottom: 10% !important: }
h2, p {
  text-align: center; max-width: 85%;
}          

a, i {
  position: relative; left: -80% !important;
}

        
        h2.ProductItem-related-label, div.list-grid {position: relative; top: -200px; left: px;  min-width: 98% !important;
        }

          div.list-grid img {
          min-width: 98% !important; max-width: 100% !important; max-height: 300px !important; 
        }
        
        }
      
/*Between 671px and 850px*/ 
@media screen and (min-width: 41.9375rem) and (max-width: 53.125rem) and (orientation:portrait), (-webkit-min-device-width: 1.5), (-webkit-browser-name:chrome), (-webkit-browser-name:firefox), (-webkit-browser-name: edge){
  #article img{
}
#article{position: relative; top: -12rem !important; margin-top: 10%;}
.ProductItem-nav{position: relative; top: -50px;}

h2, p{  text-align: center; max-width: 85%; margin-left: 3rem;
}          
a.header-skip-link sqs-button-element--primary{
  display: none !important;
}

a, i {
  position: relative; left: -0% !important;
}

        
        h2.ProductItem-related-label, div.list-grid {position: relative; top: -200px; left: px;}

        a.header-skip-link sqs-button-element--primary {display: none;}

        div.list-grid {
          max-width: 100% !important; min-width: 98% !important; 
        }
        div.list-grid img {min-height: 400px !important; max-height: 500px !important; 
          display: block !important; max-width: 100% !important; min-width: 98% !important;
        }
}
      
   

        /*Between 851px and 1050px*/ 
@media screen and (min-width: 53.1875rem) and (max-width: 65.625rem) and (orientation:portrait), (-webkit-min-device-width: 1.5), (-webkit-browser-name:chrome), (-webkit-browser-name:firefox), (-webkit-browser-name: edge){
  #article img{
}
#article{position: relative; top: -11rem !important; margin-top: 10%;}
.ProductItem-nav{position: relative; top: -50px;}

h2, p{  text-align: center; max-width: 85%; margin-left: 3rem;
}          
a.header-skip-link sqs-button-element--primary{
  display: none !important;
}

a, i {
  position: relative; left: -0% !important;
}

        
        h2.ProductItem-related-label, div.list-grid {position: relative; top: -180px; left: px;}

        a.header-skip-link sqs-button-element--primary {display: none;}
        div.list-grid {
          max-width: 100% !important; min-width: 98% !important; 
        }
        div.list-grid img {min-height: 400px !important; max-height: 500px !important; 
          display: block !important; max-width: 100% !important; min-width: 98% !important;
        }

}
        
   /*Between 1051px and 1250px*/ 
   @media screen and (min-width: 65.6875rem) and (max-width: 78.125rem) and (orientation:portrait), (-webkit-min-device-width: 1.5), (-webkit-browser-name:chrome), (-webkit-browser-name:firefox), (-webkit-browser-name: edge){
      #article img{min-width: 80% !important; max-width: 60vw !important; 
    }
    #article{position: relative; top: -17rem !important; min-width: 800px !important; max-width: 1051px !important; margin-top: 10%;}
    .ProductItem-nav{position: relative; top: -100px;}
    
    h2, p{  text-align: center; max-width: 65%; margin-left: 3rem;
    }          
    a.header-skip-link sqs-button-element--primary{
      display: none !important;
    }
  
   #article a, i {
      position: relative; left: -155% !important;
    }
  
            
            h2.ProductItem-related-label, div.list-grid {position: relative; top: -290px; left: -10px;}
     div.list-grid  {
       position: relative; left: -50px !important;
     }    
     nav a.header-skip-link {
display: none !important;}
     
     div.list-grid {
              max-width: 100% !important; min-width: 98% !important; 
            }
            div.list-grid img {min-height: 400px !important; max-height: 500px !important; 
              display: block !important; max-width: 100% !important; min-width: 98% !important;
            }
    
  }

      /*Between 1251px and 1450px*/ 
      @media screen and (min-width: 78.1875rem) and (max-width: 90.625rem) and (orientation:portrait), (-webkit-min-device-width: 1.5), (-webkit-browser-name:chrome), (-webkit-browser-name:firefox), (-webkit-browser-name: edge){
          #article img{min-width: 50% !important; max-width: 60% !important; 
  position: relative; left: 8% !important;      }
        

        #article{position: relative; top: -24rem !important; min-width: 1000px !important; max-width: 1151px !important; margin-top: 10%; left: -8% !important; }
        .ProductItem-nav{position: relative; top: -150px;}
        
        h2, p{  text-align: center; max-width: 65%; margin-left: 3rem;
        }          
        a.header-skip-link sqs-button-element--primary{
          display: none !important;
        }
      
       #article a, i {
          position: relative; left: -155% !important;
        }
      
                
                h2.ProductItem-related-label, div.list-grid {position: relative; top: -24rem; left: -10px;}
         div.list-grid  {
           position: relative; left: -16% !important;max-width: 100% !important; min-width: 98% !important; 
                  
         }    
                a.header-skip-link sqs-button-element--primary {display: none;}


                
      }

              /*Between 1451px and 1650px*/ 
              @media screen and (min-width: 90.6875rem) and (max-width: 103.125rem) and (orientation:portrait), (-webkit-min-device-width: 1.5), (-webkit-browser-name:chrome), (-webkit-browser-name:firefox), (-webkit-browser-name: edge){
#article img{min-width: 50% !important; max-width: 60% !important; 
                  position: relative; left: -3% !important;      }
                        
                
#article{position: relative; top: -24rem !important;  min-width: 1000px !important; max-width: 1151px !important; margin-top: 10%; left: -4% !important; }
.ProductItem-nav{position: relative; top: -150px;}
                        
h2, p{  text-align: center; max-width: 45%; margin-left: 6rem;
                        }    
                h2{font-size: 400%;}
p{
transform: translateX(-30px) !important;
}
a.header-skip-link sqs-button-element--primary{
display: none !important;}
                      
#article a, i {
  position: relative; position: relative; left: -7rem !important;}
                
h2.ProductItem-related-label, div.list-grid {min-width: 800px;position: relative; top: -26rem; left: -13rem;}
div.list-grid  {
position: relative; left: -22% !important;
max-width: 60% !important; min-width: 98% !important; 
transform: scaleX(.8) !important;
}    

div.list-grid img {min-height: 800px !important; max-height: 500px !important; 
  display: block !important; max-width: 80% !important; min-width: 78% !important;
}

                
a.header-skip-link sqs-button-element--primary {display: none;}
            }

                    /*Between 1651px and 1850px*/ 
      @media screen and (min-width: 103.1875rem) and (max-width: 115.625rem) and (orientation:portrait), (-webkit-min-device-width: 1.5), (-webkit-browser-name:chrome), (-webkit-browser-name:firefox), (-webkit-browser-name: edge){
nav {
  position: relative; left: -20% !important;}
        .ProductItem-nav { position: relative; left: -10% !important;}
  #article img{min-width: 50% !important; max-width: 60% !important; 
                  position: relative; left: -5% !important;  margin-bottom: 50px;    }
                        
                
#article{position: relative; top: -24rem !important;  min-width: 1000px !important; max-width: 1151px !important; margin-top: 10%; left: -4% !important; }
.ProductItem-nav{position: relative; top: -150px;}
                        
h2, p{  text-align: center; max-width: 85%; margin-left: -7rem; margin-top: -3% !important;
                        position: relative !important; top: -2% !important;}         
        p{
          max-width: 50%; left: 15%; top: 7% !important; margin-bottom: 10px;
        }
        

#article img {
          position: relative; left: 2% !important;
        }
a.header-skip-link sqs-button-element--primary{
display: none !important;}
                      
#article a, i {
  position: relative; position: relative; left: -7rem !important;}
                
h2.ProductItem-related-label, div.list-grid {min-width: 1000px;position: relative; top: -24rem; left: 5rem;}
        h2.ProductItem-related-label{
          left: -5%; top: -23.125rem !important; max-width: 900px;
        }
        
        div.list-grid  {
position: relative; left: -16% !important;
max-width: 100% !important; min-width: 98% !important; 
}    
a.header-skip-link sqs-button-element--primary {display: none;}


div.list-grid img {min-height: 400px !important; max-height: 500px !important; 
  display: block !important; max-width: 100% !important; min-width: 98% !important;
}
}
 

/*Between 1851px and 2000px*/ 
@media screen and (min-width: 115.6875rem) and (max-width: 125rem) and (orientation:portrait), (-webkit-min-device-width: 1.5), (-webkit-browser-name:chrome), (-webkit-browser-name:firefox), (-webkit-browser-name: edge){
  nav {
    position: relative; left: -40% !important;}
          .ProductItem-nav { position: relative; left: -15% !important;}
    #article img{min-width: 50% !important; max-width: 60% !important; 
                    position: relative; left: -10% !important;  margin-bottom: 50px;    }
                          
                  
  #article{position: relative; top: -28rem !important;  min-width: 1200px !important; max-width: 1451px !important; margin-top: 10%; left: -8% !important; max-width: 70% !important;}
  .ProductItem-nav{position: relative; top: -200px; left: -8rem !important;}
                          
  h2, p{  text-align: center; max-width: 85%; margin-left: -7rem; margin-top: -3% !important;
                          position: relative !important; top: -2% !important;}         
          p{
            max-width: 50%; left: 15%; top: 7% !important; margin-bottom: 10px;
          }
          
  
  #article img {
            position: relative; left: 2% !important;
          }
  a.header-skip-link sqs-button-element--primary{
  display: none !important;}
                        
  #article a, i {
    position: relative; position: relative; left: -7rem !important;}
                  
  h2.ProductItem-related-label, div.list-grid {min-width: 1000px;position: relative; top: -24rem; left: 5rem;}
          h2.ProductItem-related-label{
            left: -11%; top: -27.125rem !important; margin-left: 1.5%; margin-right: 40%; min-width: 850px !important;
          }
  div.list-grid { max-width: 100% !important; min-width: 98% !important; 
    position: relative; left: -15% !important; top: -27%;}      
  

  a.header-skip-link sqs-button-element--primary {display: none;}
             }
   

/*For landscape mode*/

html {
  font-size: 16px !important;
}
 
@media screen and (min-width: 301px) and (max-width: 600px) and (orientation:landscape), (-webkit-min-device-width: 1.5), (-webkit-browser-name:chrome), (-webkit-browser-name:firefox), (-webkit-browser-name: edge){
  #article img{
  min-width: 80vw !important; max-width: 105% !important;}
    #article{max-width: 700px !important; margin-left: 5% !important; margin-right: 5% !important; position: relative !important; top: -45% !important;font-size: 16px !important; line-height: 2; position: relative; top: -140px !important; margin-bottom: 5%;}
  
  
    h2, p {
text-align: center;
    }
    
    #article img {
      max-width: 400px 400px !important; max-height: 400px !important;
    }
    
    h2.ProductItem-related-label, div.list-grid {position: relative; top: -180px; max-width: 100% !important;}
    div.list-grid {
      max-width: 100% !important; min-width: 98% !important; 
    }
    div.list-grid img {min-height: 400px !important; max-height: 500px !important; 
      display: block !important; max-width: 100% !important; min-width: 98% !important; max-height: 400px !important;
    }


}

/*601px and 660px*/
@media screen and (min-width: 37.56rem) and (max-width: 41.875rem) and (orientation:landscape), (-webkit-min-device-width: 1.5), (-webkit-browser-name:chrome), (-webkit-browser-name:firefox), (-webkit-browser-name: edge){
  #article img{
      min-width: 90% !important; max-width: 600px !important;    max-height: 500px !important; position: relative; left: -4.5rem !important;}
        #article{min-width: 90% !important; max-width:100% !important; margin-left: 10% !important; margin-right: 5% !important; position: relative !important; top: -27% !important;font-size: 16px !important; line-height: 2; position: relative; top: -180px !important; margin-bottom: 10% !important: }
h2, p {
  text-align: center; max-width: 85%;
}          

a, i {
  position: relative; left: -80% !important;
}

        
        h2.ProductItem-related-label, div.list-grid {position: relative; top: -200px; left: px; max-width: 100% !important;}
        div.list-grid img {
          min-width: 98% !important; max-width: 100% !important; max-height: 300px !important;
        }
        div.list-grid {
          max-width: 100% !important; min-width: 98% !important; 
        }

        }
      
/*Between 671px and 850px*/ 
@media screen and (min-width: 41.9375rem) and (max-width: 53.125rem) and (orientation:landscape), (-webkit-min-device-width: 1.5), (-webkit-browser-name:chrome), (-webkit-browser-name:firefox), (-webkit-browser-name: edge){
  #article img{
}
#article{position: relative; top: -14rem !important; margin-top: 10%;}
.ProductItem-nav{position: relative; top: -50px;}

h2, p{  text-align: center; max-width: 85%; margin-left: 3rem;
}          
a.header-skip-link sqs-button-element--primary{
  display: none !important;
}

a, i {
  position: relative; left: -0% !important;
}

        
        h2.ProductItem-related-label, div.list-grid {position: relative; top: -230px; left: px;}

        a.header-skip-link sqs-button-element--primary {
        display: none;}
        div.list-grid {
          max-width: 100% !important; min-width: 98% !important; 
        }
        div.list-grid img {min-height: 400px !important; max-height: 500px !important; 
          display: block !important; max-width: 100% !important; min-width: 98% !important;
        }
}
      
   

        /*Between 851px and 1050px*/ 
@media screen and (min-width: 53.1875rem) and (max-width: 65.625rem) and (orientation:landscape), (-webkit-min-device-width: 1.5), (-webkit-browser-name:chrome), (-webkit-browser-name:firefox), (-webkit-browser-name: edge){
  #article img{
}
#article{position: relative; top: -11rem !important; margin-top: 10%;}
.ProductItem-nav{position: relative; top: -50px;}

h2, p{  text-align: center; max-width: 85%; margin-left: 3rem;
}          
a.header-skip-link sqs-button-element--primary{
  display: none !important;
}

a, i {
  position: relative; left: -0% !important;
}

        
        h2.ProductItem-related-label, div.list-grid {position: relative; top: -180px; left: px;}

        a.header-skip-link sqs-button-element--primary {display: none;}
        div.list-grid {max-width: 50% !important; }
        div.list-grid img {max-height: 500px !important;}
}
        
   /*Between 1051px and 1250px*/ 
   @media screen and (min-width: 65.6875rem) and (max-width: 78.125rem) and (orientation:landscape), (-webkit-min-device-width: 1.5), (-webkit-browser-name:chrome), (-webkit-browser-name:firefox), (-webkit-browser-name: edge){
      #article img{min-width: 80% !important; max-width: 60vw !important; 
    }
    #article{position: relative; top: -17rem !important; min-width: 800px !important; max-width: 1051px !important; margin-top: 10%;}
    .ProductItem-nav{position: relative; top: -100px;}
    
    h2, p{  text-align: center; max-width: 65%; margin-left: 3rem;
    }          
    a.header-skip-link sqs-button-element--primary{
      display: none !important;
    }
  
   #article a, i {
      position: relative; left: -155% !important;
    }
  
            
            h2.ProductItem-related-label, div.list-grid {position: relative; top: -290px; left: -10px;}
     div.list-grid  {max-width: 100% !important; min-width: 98% !important;
       position: relative; left: -50px !important;
     }    
            a.header-skip-link sqs-button-element--primary {display: none;}
  }

      /*Between 1251px and 1450px*/ 
      @media screen and (min-width: 78.1875rem) and (max-width: 90.625rem) and (orientation:landscape), (-webkit-min-device-width: 1.5), (-webkit-browser-name:chrome), (-webkit-browser-name:firefox), (-webkit-browser-name: edge){
          #article img{min-width: 50% !important; max-width: 60% !important; 
  position: relative; left: 8% !important;      }
        

        #article{position: relative; top: -24rem !important; min-width: 1000px !important; max-width: 1151px !important; margin-top: 10%; left: -8% !important; }
        .ProductItem-nav{position: relative; top: -150px;}
        
        h2, p{  text-align: center; max-width: 65%; margin-left: 3rem;
        }          
        a.header-skip-link sqs-button-element--primary{
          display: none !important;
        }
      
       #article a, i {
          position: relative; left: -155% !important;
        }
      
                
                h2.ProductItem-related-label, div.list-grid {position: relative; top: -24rem; left: -10px;}
         div.list-grid  {max-width: 100% !important; min-width: 98% !important; 
           position: relative; left: -16% !important;
         }    

                a.header-skip-link sqs-button-element--primary {display: none;}
      }

              /*Between 1451px and 1650px*/ 
              @media screen and (min-width: 90.6875rem) and (max-width: 103.125rem) and (orientation:landscape), (-webkit-min-device-width: 1.5), (-webkit-browser-name:chrome), (-webkit-browser-name:firefox), (-webkit-browser-name: edge){
#article img{min-width: 50% !important; max-width: 60% !important; 
                  position: relative; left: 2% !important;      }
                        
                
#article{position: relative; top: -24rem !important;  min-width: 1000px !important; max-width: 1151px !important; margin-top: 10%; left: -4% !important; }
.ProductItem-nav{position: relative; top: -150px;}
                        
h2, p{  text-align: center; max-width: 45%; margin-left: 6rem;
                        }          
a.header-skip-link sqs-button-element--primary{
display: none !important;}
                      
#article a, i {
  position: relative; position: relative; left: -7rem !important;}
                
h2.ProductItem-related-label, div.list-grid {min-width: 1000px;position: relative; top: -26rem; left: -18rem;}
        div.list-grid  {max-width: 50% !important; min-width: 98% !important; 
position: relative; left: -25% !important;transform: scaleX(.7) !important;
        }
div.list-grid img {min-height: 400px !important; max-height: 500px !important; 
display: block !important; max-width: 100% !important; min-width: 98% !important;
max-height: 500px !important;}
a.header-skip-link sqs-button-element--primary {display: none;}
            }

                    /*Between 1651px and 1850px*/ 
      @media screen and (min-width: 103.1875rem) and (max-width: 115.625rem) and (orientation:landscape), (-webkit-min-device-width: 1.5), (-webkit-browser-name:chrome), (-webkit-browser-name:firefox), (-webkit-browser-name: edge){
nav {
  position: relative; left: -20% !important;}
        .ProductItem-nav { position: relative; left: -10% !important;}
  #article img{min-width: 50% !important; max-width: 60% !important; 
                  position: relative; left: -5% !important;  margin-bottom: 50px;    }
                        
                
#article{position: relative; top: -24rem !important;  min-width: 1000px !important; max-width: 1151px !important; margin-top: 10%; left: -4% !important; }
.ProductItem-nav{position: relative; top: -150px;}
                        
h2, p{  text-align: center; max-width: 85%; margin-left: -7rem; margin-top: -3% !important;
                        position: relative !important; top: -2% !important;}         
        p{
          max-width: 50%; left: 15%; top: 7% !important; margin-bottom: 10px;
        }
        

#article img {
          position: relative; left: 2% !important;
        }
a.header-skip-link sqs-button-element--primary{
display: none !important;}
                      
#article a, i {
  position: relative; position: relative; left: -7rem !important;}
                
h2.ProductItem-related-label, div.list-grid {min-width: 1000px;position: relative; top: -24rem; left: 5rem;}
        h2.ProductItem-related-label{
          left: -5%; top: -23.125rem !important; max-width: 900px;
        }
        
        div.list-grid  {max-width: 50% !important; min-width: 98% !important; 
position: relative; left: -25% !important;transform: scaleX(.7) !important;
        }


a.header-skip-link sqs-button-element--primary {display: none;}
           }
 

/*Between 1851px and 2000px*/ 
@media screen and (min-width: 115.6875rem) and (max-width: 125rem) and (orientation:landscape), (-webkit-min-device-width: 1.5), (-webkit-browser-name:chrome), (-webkit-browser-name:firefox), (-webkit-browser-name: edge){
  nav {
    position: relative; left: -40% !important;}
          .ProductItem-nav { position: relative; left: -15% !important;}
    #article img{min-width: 50% !important; max-width: 60% !important; 
                    position: relative; left: -10% !important;  margin-bottom: 50px;    }
                          
                  
  #article{position: relative; top: -28rem !important;  min-width: 1200px !important; max-width: 1451px !important; margin-top: 10%; left: -8% !important; max-width: 70% !important;}
  .ProductItem-nav{position: relative; top: -200px; left: -8rem !important;}
                          
  h2, p{  text-align: center; max-width: 85%; margin-left: -7rem; margin-top: -3% !important;
                          position: relative !important; top: -2% !important;}         
          p{
            max-width: 50%; left: 15%; top: 7% !important; margin-bottom: 10px;
          }
          
  
  #article img {
            position: relative; left: 2% !important;
          }
  a.header-skip-link sqs-button-element--primary{
  display: none !important;}
                        
  #article a, i {
    position: relative; position: relative; left: -7rem !important;}
                  
  h2.ProductItem-related-label, div.list-grid {min-width: 1000px;position: relative; top: -24rem; left: 5rem;}
          h2.ProductItem-related-label{
            left: -11%; top: -27.125rem !important; margin-left: 1.5%; margin-right: 40%; min-width: 850px !important;
          }
  div.list-grid {max-width: 70% !important; min-width: 48% !important; position: relative; left: -15% !important; top: -27% !important;}      

    div.list-grid img {min-height: 600px !important; max-height: 500px !important; 
    display: block !important; max-width: 100% !important; min-width: 98% !important;
    max-height: 500px !important;}
    }  a.header-skip-link sqs-button-element--primary {display: none;}
               