html {
    font-size: 16px !important;
}
/*For portriat mode*/

@media screen and (min-width: 301px) and (max-width: 600px) and (orientation:portrait), (-webkit-min-device-width: 1.5), (-webkit-browser-name:chrome), (-webkit-browser-name:firefox), (-webkit-browser-name: edge){
    #article img{
        max-width: 300px !important;
        max-height: 300px !important;}
      #article{max-width: 700px !important; margin-left: 5% !important; margin-right: 5% !important; position: relative !important; top: -45% !important;font-size: 16px !important; line-height: 2;   transform: translateY(-350px) !important;}
    
    
      h2 {
        transform: translateX(15%);
      }
      
      #article img {
        max-width: 400px 400px !important; max-height: 400px !important;
      }
      
      h2.ProductItem-related-label, div.list-grid {position: relative; top: -180px;}
      


}

@media screen and (min-width: 601px) and (max-width: 800px) and (orientation:portrait), (-webkit-min-device-width: 1.5), (-webkit-browser-name:chrome), (-webkit-browser-name:firefox), (-webkit-browser-name: edge){
    #article img{
        min-width: 80% !important; max-width: 600px !important;    max-height: 500px !important;}
          #article{max-width: 700px !important; margin-left: 5% !important; margin-right: 5% !important; position: relative !important; top: -27% !important;font-size: 16px !important; line-height: 2;   transform: translateY(-130px) !important;}
        
        
          h2 {
            transform: translateX(8%);
          }
          
          #article img {
            max-width: 400px 400px !important; max-height: 400px !important;
          }
          
          h2.ProductItem-related-label, div.list-grid {position: relative; top: -180px;}
          
          }
        
          
     

@media screen and (min-width: 1001px) and (max-width: 1200px) and (orientation:portrait), (-webkit-min-device-width: 1.5), (-webkit-browser-name:chrome), (-webkit-browser-name:firefox), (-webkit-browser-name: edge){

    #article img{
        width: 700px !important; 
       height: 300px !important;}
      #article {max-width: 800px; margin-left: 5% !important; margin-right: 15% !important; line-height: 2 !important; font-family: Roboto !important; font-size: 16px !important; position: relative !important; top: -25px !important; transform: translateY(-10%) !important;}
        h2{
          transform: translateX(10%) !important; min-width: 200px !important;
        }
        
          h2.ProductItem-related-label, div.list-grid {position: relative; top: -7%;}
      

    
}

@media screen and (min-width: 1201px) and (max-width: 1400px) and (orientation:portrait), (-webkit-min-device-width: 1.5), (-webkit-browser-name:chrome), (-webkit-browser-name:firefox), (-webkit-browser-name: edge){
    #article img{
        min-width: 700px !important; 
       min-height: 500px !important;}
      #article {min-width: 800px; max-width: 1000px; margin-left: 10% !important; margin-right: 15% !important; line-height: 2 !important; font-family: Roboto !important; font-size: 16px !important; position: relative !important; top: -25px !important; transform: translateY(-10%) !important;}
        h2{
          transform: translateX(10%) !important; min-width: 200px !important;
        }
        
          h2.ProductItem-related-label, div.list-grid {position: relative; top: -7%;}
      

    
}

@media screen and (min-width: 1401px) and (max-width: 1600px) and (orientation:portrait), (-webkit-min-device-width: 1.5), (-webkit-browser-name:chrome), (-webkit-browser-name:firefox), (-webkit-browser-name: edge){
    #article img{
        min-width: 700px !important; 
       min-height: 500px !important;}
      #article {min-width: 800px; max-width: 1000px; margin-left: 10% !important; margin-right: 15% !important; line-height: 2 !important; font-family: Roboto !important; font-size: 16px !important; position: relative !important; top: -25px !important; transform: translateY(-10%) !important;}
        h2{
          transform: translateX(10%) !important; min-width: 200px !important;
        }
        
          h2.ProductItem-related-label, div.list-grid {position: relative; top: -7%;}
      
    
}

@media screen and (min-width: 1601px) and (max-width: 1800px) and (orientation:portrait), (-webkit-min-device-width: 1.5), (-webkit-browser-name:chrome), (-webkit-browser-name:firefox), (-webkit-browser-name: edge){

    
}

@media screen and (min-width: 1801px) and (max-width: 2000px) and (orientation:portrait), (-webkit-min-device-width: 1.5), (-webkit-browser-name:chrome), (-webkit-browser-name:firefox), (-webkit-browser-name: edge){

    
}

@media screen and (min-width: 2001px) and (max-width: 2200px) and (orientation:portrait), (-webkit-min-device-width: 1.5), (-webkit-browser-name:chrome), (-webkit-browser-name:firefox), (-webkit-browser-name: edge){

    
}

@media screen and (min-width: 2201px) and (max-width: 2400px) and (orientation:portrait), (-webkit-min-device-width: 1.5), (-webkit-browser-name:chrome), (-webkit-browser-name:firefox), (-webkit-browser-name: edge){

    
}

@media screen and (min-width: 2401px) and (max-width: 2600px) and (orientation:portrait), (-webkit-min-device-width: 1.5), (-webkit-browser-name:chrome), (-webkit-browser-name:firefox), (-webkit-browser-name: edge){

    
}

@media screen and (min-width: 2601px) and (max-width: 2800px) and (orientation:portrait), (-webkit-min-device-width: 1.5), (-webkit-browser-name:chrome), (-webkit-browser-name:firefox), (-webkit-browser-name: edge){

    
}

@media screen and (min-width: 2801px) and (max-width: 3000px) and (orientation:portrait), (-webkit-min-device-width: 1.5), (-webkit-browser-name:chrome), (-webkit-browser-name:firefox), (-webkit-browser-name: edge){

    
}

/*For landscape*/

@media screen and (min-width: 301px) and (max-width: 600px) and (orientation:landscape), (-webkit-min-device-width: 1.5), (-webkit-browser-name:chrome), (-webkit-browser-name:firefox), (-webkit-browser-name: edge){

    #article img{
        min-width: 80% !important; max-width: 300px !important;    max-height: 500px !important;}
          #article{max-width: 300px !important; margin-left: 5% !important; margin-right: 5% !important; position: relative !important; top: -27% !important;font-size: 16px !important; line-height: 2;   transform: translateY(-130px) !important;}
        
        
          h2 {
            transform: translateX(8%);
          }
          
          #article img {
            max-width: 400px 400px !important; max-height: 400px !important;
          }
          
          h2.ProductItem-related-label, div.list-grid {position: relative; top: -180px;}
          


}

@media screen and (min-width: 601px) and (max-width: 800px) and (orientation:landscape), (-webkit-min-device-width: 1.5), (-webkit-browser-name:chrome), (-webkit-browser-name:firefox), (-webkit-browser-name: edge){#article img{
    min-width: 80% !important; max-width: 600px !important;    max-height: 500px !important;}
      #article{max-width: 700px !important; margin-left: 5% !important; margin-right: 5% !important; position: relative !important; top: -27% !important;font-size: 16px !important; line-height: 2;   transform: translateY(-130px) !important;}
    
    
      h2 {
        transform: translateX(8%);
      }
      
      #article img {
        max-width: 400px 400px !important; max-height: 400px !important;
      }
      
      h2.ProductItem-related-label, div.list-grid {position: relative; top: -180px;}
      

    
}

@media screen and (min-width: 801px) and (max-width: 1000px) and (orientation:landscape), (-webkit-min-device-width: 1.5), (-webkit-browser-name:chrome), (-webkit-browser-name:firefox), (-webkit-browser-name: edge){

    #article img{
        min-width: 80% !important; max-width: 600px !important;    max-height: 500px !important;}
          #article{max-width: 700px !important; margin-left: 5% !important; margin-right: 5% !important; position: relative !important; top: -27% !important;font-size: 16px !important; line-height: 2;   transform: translateY(-130px) !important;}
        
        
          h2 {
            transform: translateX(8%);
          }
          
          #article img {
            max-width: 400px 400px !important; max-height: 400px !important;
          }
          
          h2.ProductItem-related-label, div.list-grid {position: relative; top: -180px;}
          
}

@media screen and (min-width: 1001px) and (max-width: 1200px) and (orientation:landscape), (-webkit-min-device-width: 1.5), (-webkit-browser-name:chrome), (-webkit-browser-name:firefox), (-webkit-browser-name: edge){


    #article img{
        width: 700px !important; 
       height: 300px !important;}
      #article {max-width: 800px; margin-left: 5% !important; margin-right: 15% !important; line-height: 2 !important; font-family: Roboto !important; font-size: 16px !important; position: relative !important; top: -25px !important; transform: translateY(-10%) !important;}
        h2{
          transform: translateX(10%) !important; min-width: 200px !important;
        }
        
          h2.ProductItem-related-label, div.list-grid {position: relative; top: -7%;}

    
}

@media screen and (min-width: 1201px) and (max-width: 1400px) and (orientation:landscape), (-webkit-min-device-width: 1.5), (-webkit-browser-name:chrome), (-webkit-browser-name:firefox), (-webkit-browser-name: edge){

    #article img{
        min-width: 700px !important; 
       min-height: 500px !important;}
      #article {min-width: 800px; max-width: 1000px; margin-left: 10% !important; margin-right: 15% !important; line-height: 2 !important; font-family: Roboto !important; font-size: 16px !important; position: relative !important; top: -25px !important; transform: translateY(-10%) !important;}
        h2{
          transform: translateX(10%) !important; min-width: 200px !important;
        }
        
          h2.ProductItem-related-label, div.list-grid {position: relative; top: -7%;}

    
}

@media screen and (min-width: 1401px) and (max-width: 1600px) and (orientation:landscape), (-webkit-min-device-width: 1.5), (-webkit-browser-name:chrome), (-webkit-browser-name:firefox), (-webkit-browser-name: edge){
    #article img{
        min-width: 700px !important; 
       min-height: 500px !important;}
      #article {min-width: 800px; max-width: 1000px; margin-left: 10% !important; margin-right: 15% !important; line-height: 2 !important; font-family: Roboto !important; font-size: 16px !important; position: relative !important; top: -25px !important; transform: translateY(-10%) !important;}
        h2{
          transform: translateX(10%) !important; min-width: 200px !important;
        }
        
          h2.ProductItem-related-label, div.list-grid {position: relative; top: -7%;}
      

    
}

@media screen and (min-width: 1601px) and (max-width: 1800px) and (orientation:landscape), (-webkit-min-device-width: 1.5), (-webkit-browser-name:chrome), (-webkit-browser-name:firefox), (-webkit-browser-name: edge){
    #article img{
        min-width: 700px !important; 
       min-height: 500px !important;}
      #article {min-width: 800px; max-width: 1000px; margin-left: 10% !important; margin-right: 15% !important; line-height: 2 !important; font-family: Roboto !important; font-size: 16px !important; position: relative !important; top: -25px !important; transform: translateY(-10%) !important;}
        h2{
          transform: translateX(10%) !important; min-width: 200px !important;
        }
        
          h2.ProductItem-related-label, div.list-grid {position: relative; top: -7%;}
      
    
}

@media screen and (min-width: 1801px) and (max-width: 2000px) and (orientation:landscape), (-webkit-min-device-width: 1.5), (-webkit-browser-name:chrome), (-webkit-browser-name:firefox), (-webkit-browser-name: edge){

    
}

@media screen and (min-width: 2001px) and (max-width: 2200px) and (orientation:landscape), (-webkit-min-device-width: 1.5), (-webkit-browser-name:chrome), (-webkit-browser-name:firefox), (-webkit-browser-name: edge){

    
}

@media screen and (min-width: 2201px) and (max-width: 2400px) and (orientation:landscape), (-webkit-min-device-width: 1.5), (-webkit-browser-name:chrome), (-webkit-browser-name:firefox), (-webkit-browser-name: edge){

    
}

@media screen and (min-width: 2401px) and (max-width: 2600px) and (orientation:landscape), (-webkit-min-device-width: 1.5), (-webkit-browser-name:chrome), (-webkit-browser-name:firefox), (-webkit-browser-name: edge){

    
}

@media screen and (min-width: 2601px) and (max-width: 2800px) and (orientation:landscape), (-webkit-min-device-width: 1.5), (-webkit-browser-name:chrome), (-webkit-browser-name:firefox), (-webkit-browser-name: edge){

    
}

@media screen and (min-width: 2801px) and (max-width: 3000px) and (orientation:landscape), (-webkit-min-device-width: 1.5), (-webkit-browser-name:chrome), (-webkit-browser-name:firefox), (-webkit-browser-name: edge){

    
}